@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

body {
    width: 100%;
    h1 {
        font-size: 38px;
        text-align: center
    }
    h2 {
        font-size: 28px;
        padding-top: 15px;
        text-align: center
    }
    h3 {
        font-size: 18px;
        text-align: center
    }
    p {
        font-size: 16px;
        margin: 15px 0 20px 0;
        
    }
    .section-p1 {
        padding: 40px 80px;
    }
    .section-m1 {
        margin: 40px 0;
    }
    
}